@font-face {
    font-family: "printFont";
    src: url("../fonts/FbMagnolia-Regular.otf");
}

@font-face {
    font-family: "myFirstFont";
    src: url("../fonts/GanCLMBold.ttf");
}

.text {
    position: absolute;
    left: 5%;
    top: 10%;
    bottom: 10%;
    width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#line1 {
    font-size: 4vw;
    color: #ffffff;
    font-family: 'printFont';
    line-height: 3.5vw;
    direction: rtl;
}

#line2 {
    font-size: 2.5vw;
    color: #ffffff;
    font-family: 'printFont';
    direction: rtl;
}

#line3 {
    font-size: 2.5vw;
    color: #ffffff;
    font-family: 'printFont';
    direction: rtl;
}

#position {
    font-size: 4vw;
    width: 18vw;
    border-radius: 0px 50px 50px 0px;
    font-family: "myFirstFont";
}

.row {
    direction: rtl;
    left: 10%;
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.card {
    --bs-focus-ring-color: black;
    border-color: black;
}

#cards {
    max-height: 30vW;
    overflow-y: auto;
}

.answer-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f8f9fa;
    transition: background-color 0.3s;
}

.answer-button:hover {
    background-color: #e2e6ea;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#timer {
    font-size: 1.5rem;
}

#testName {
    font-size: 1.3rem;
}

#questionProgress {
    font-size: 1.5rem;
}

.modal-lg {
    max-width: 800px;
}

.modal {
    pointer-events: none;
}

.modal-dialog {
    pointer-events: all;
}