.background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  /* @media screen and (max-width: 768px) {
    .background {
      background-size: contain;
    }
  } */