@font-face {
    font-family: "mainFont";
    src: url("../fonts/FbMagnolia-Regular.otf");
}

body,
html {
    height: 100%;
    margin: 0;
    user-select: none;
}

.background {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    color: #ffffff;
    font-family: "mainFont";
}

.gif {
    width: 25vw;
}

.modal {
    direction: rtl;
}

.closeBtn {
    margin-right: 2.5%;
    height: 30px;
    float: right;
}

.reset-btn {
    background: linear-gradient(90deg, #ca6a6a 0%, #ca6a6a 100%);
    color: #fff;
    border: none;
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 2px 8px #d32f2f33;
    cursor: pointer;
    transition: background 0.2s, transform 0.15s;
    margin: 0 auto;
    display: block;
    letter-spacing: 1px;
}

.reset-btn:hover,
.reset-btn:focus {
    background: linear-gradient(90deg, #ca6a6a 0%, #ca6a6a 100%);
    transform: scale(1.04);
    outline: none;
}