.text {
    position: absolute;
    left: 10%;
    top: 15%;
    bottom: 20%;
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    line-height: 4vw;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.blink-text {
    font-size: 24px;
    font-weight: bold;
    animation: blink 3s infinite;
}

#line1 {
    font-size: 5vw;
    font-weight: 800;
    color: palevioletred;
}

#line2 {
    font-size: 3vw;
    color: palevioletred;

}

#line3 {
    font-size: 2vw;
}

#position {
    font-size: 4vw;
    width: 18vw;
    border-radius: 0px 50px 50px 0px;
}